*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Barlow', sans-serif;
}
body{
    background-color: #fafafe;
}
.container{
    width: 85%;
    max-width: 1250px;
    margin: 0 auto;
}
/* HEADER */
header{
    width: 100%;
    display: flex;
    flex-flow: column;
    background-color: #fff;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.4);
}
header div.logo{
    height: 80px;
    display: flex;
    align-items: center;
}
header div.logo a{
    font-size: 40px;
    font-family: 'Source Code Pro', monospace;
    color: #ccc;
    translate: .4s all ease;
}
header div.logo a:hover{
    color: grey;
}

/* NAV */
nav{
    /* background-color: #797775; */
    height: 100%;
}
nav ul{
    height: 45px;
    display: flex;
    /* align-items: center; */
}
nav ul li{
    height: inherit;

}
nav ul li a{
    height: 100%;
    padding: 0 10px;
    color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid transparent ;
    transition: .4s all ease;
}
nav ul li a:hover{
    background-color: #fafafe;
    color: grey;
    border: 1px solid #ccc;
}

/* SIDEBAR */
div.main{
    display: flex;
    justify-content: space-between;
    flex-flow: row-reverse;
    margin: 30px auto;
}
aside{
    width: 25%;
    height: fit-content;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
    
}

.active{
    display: block !important;
}
aside label{
    color: #ccc;
    font-size: 18px;
    font-family: 'Source Code Pro', monospace;
} 
/* MENU ASIDE */
div.menu-aside{
    background-color:transparent;
    color: #fafafe;
    display: flex;
    
}
div.menu-aside button{
    background: transparent;
    width: 50%;
    height: 40px;
    color: grey;
    border: 1px solid rgba(0,0,0,0.2);
    outline: none;
    cursor: pointer;
    font-size: 18px;

}
div.menu-aside button:hover{
    background-color: #fafafe;
    color: grey;
    border: 1px solid #ccc;
}
div.menu-aside button:focus{
    background: #ccc;
    color: #fff;
    transition: .4s all ease;

}
div.menu-aside button.login{
    border-top-left-radius: 20px;
}
div.menu-aside button.register{
    border-top-right-radius: 20px;
}
span.alert{
    font-size: 13px;
    color: #FF9494;
    font-weight: 500;
    display: inline-block;
}
span.success{
    font-size: 13px;
    font-weight: 500;
    display: inline-block;
    color: #4BB543;
}
/* USER */
aside div.user{
    text-align: center;
    padding: 20px;
   
}
aside div.user a{
    margin: 4px auto;
    display: block;
    width: 130px;
}

/* LOGIN*/
#login{
    padding: 20px;
    display: none;
}
#login input[type='email'],
#login input[type="password"]{
    width: 100%;
    padding: 7px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
    color: #666;
    font-size: 16px;
}
#login input[type='email']:hover,
#login input[type="password"]:hover{
    border: 1px solid #9B804A;
}
#login input[type='email']:focus,
#login input[type="password"]:focus{
    border: 2px solid #9B804A;
    transition: .2s all ease;
}
div.submit{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px auto;
}
aside input[type='submit'],
aside a.btn{
    display: block;
    text-align: center;
    padding: 7px;
    color: #fafafe;
    background-color: #9B804A;
    width: 150px;
    border-radius: 4px;
    border: 1px solid transparent;
    transition: .4s all ease;
}
aside input[type='submit']:hover,
aside a.btn:hover{
    color: #9B804A;
    background-color: #fafafe;
    border: 1px solid #9B804A;
}
/* REGISTER */
#register{
    padding: 20px;
    display: none;
}
#register input[type='text'],
#register input[type='email'],
#register input[type="password"]{
    width: 100%;
    padding: 7px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
    color: #666;
    font-size: 16px;
}
#register input[type='text']:hover,
#register input[type='email']:hover,
#register input[type="password"]:hover{
    border: 1px solid #9B804A;
}
#register input[type='text']:focus,
#register input[type='email']:focus,
#register input[type="password"]:focus{
    border: 2px solid #9B804A;
    transition: .2s all ease;
}
/* MAIN */

main{
    width: 70%;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
    margin-left: 20px;
}
main section.posts h1{
    color: grey;
    font-size: 28px;
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
    margin-bottom: 20px;
}
article.post a{
    padding: 15px;
    display: block;
    color: #666;
}
article.post h2{
    margin: 10px auto;
    color: #9B804A;
    font-weight: 600;
    font-family: 'Barlow', sans-serif;
}
div.mas{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px auto;
}
div.mas a{
    display: block;
    text-align: center;
    padding: 7px;
    color: #fafafe;
    background-color: #9B804A;
    width: 150px;
    border-radius: 4px;
    border: 1px solid transparent;
    transition: .4s all ease;
}
div.mas a:hover{
    color: #9B804A;
    background-color: #fafafe;
    border: 1px solid #9B804A;
}
/* FOOTER */
footer{
    background-color: #ccc;
    padding: 5px;
    text-align: center;
    color: rgba(0,0,0,0.4);
}